<div class="container" style="margin-left: 40px;">
    <h2 class="section-title">Sign In</h2>
</div>

<form [formGroup]="loginService.loginForm" class="normal-form" (ngSubmit)="login()">
    <div class="controlles-container" style="margin-top: 40px;">
        <mat-form-field>
            <input formControlName="username" matInput placeholder="Enter your username*">
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Enter password*">
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
    </div>
    <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginService.loginForm.invalid">Sign In</button>
    </div>
</form>
