<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo"><img src="logo4.jpeg" height="120px" width="120px"></mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list class="menus">
      <button class="menu-item" routerLink="home" mat-flat-button>
        <mat-list-item><mat-icon>home</mat-icon>Home
      </mat-list-item></button>
      <button class="menu-item" routerLink="dashboard" mat-flat-button>
        <mat-list-item><mat-icon>dashboard</mat-icon>Dashboard
      </mat-list-item></button>
      <button class="menu-item" routerLink="myDevices" mat-flat-button>
        <mat-list-item><mat-icon>important_devices</mat-icon>My Devices
      </mat-list-item></button>
      <button class="menu-item" mat-flat-button>
        <mat-list-item><mat-icon>help</mat-icon>Help
      </mat-list-item></button>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon>dashboard</mat-icon><span>Dashboard</span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><img src="user.png" height="30px" width="30px"></button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>