<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo"><img src="assets/images/logo4.png" height="170px" width="170px"></mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list class="menus">
      <button class="menu-item" routerLink="dashboard" routerLinkActive="active-link" mat-flat-button>
        <mat-list-item><mat-icon>dashboard</mat-icon><span class="section-title" style="margin-left:7px;font-weight: lighter;font-size: 18px;">Dashboard</span>
      </mat-list-item></button>
      <mat-divider style="margin-left: 17px;margin-right: 10px;"></mat-divider>
      <button class="menu-item" routerLink="myDevices" routerLinkActive="active-link" mat-flat-button>
        <mat-list-item><mat-icon>important_devices</mat-icon><span class="section-title" style="margin-left:7px;font-weight: lighter;font-size: 18px;">My Devices</span>
      </mat-list-item></button>
      <mat-divider style="margin-left: 17px;margin-right: 10px;"></mat-divider>
      <button class="menu-item" mat-flat-button>
        <mat-list-item><mat-icon>help</mat-icon><span class="section-title" style="margin-left:7px;font-weight: lighter;font-size: 18px;">Help</span>
      </mat-list-item></button>

    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar class="head">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 class="section-title" style="margin:8px 0px;font-weight: bold;font-size: 30px;">BLOCSEC</h1>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><img src="assets/images/user.png" height="30px" width="30px"></button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
      </mat-menu>
    </mat-toolbar>
      <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>