.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 170px;
  padding: 0px;
  margin: 0px;
}

.sidenav .mat-toolbar {
  background: inherit;
  padding: 0px;
  height: 170px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer{
  flex: 1 1 auto;
}


.menu-item{
  width:100%;
  padding: 0px 0px 0px 0px;
}

.menus{
  margin: 10px 0px 0px 0px;
  width: 100%;
}

.head{
  background-color: rgb(196, 166, 33);
  height: 100px;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; 
}